/*
* {
  box-sizing: border-box;
}

.menu {
  float: left;
  width: 20%;
  text-align: center;
}

.menu a {
  background-color: #e5e5e5;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}

.main {
  float: left;
  width: 60%;
  padding: 0 20px;
}

.right {
  background-color: #e5e5e5;
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
}

@media only screen and (max-width: 620px) {
  .menu, .main, .right {
    width: 100%;
  }
}

*/

body {
    padding:10px;
    text-align: center;
    background-color: rgb(213, 247, 213);
  }

h1,h2,h3,h4,h5,h6,p {
    color: rgb(174, 75, 250);
  }

h1,h2,h3,h4,h5,h6 {
   font-family: "Oswald"
  }

p {
    font-family: "Open Sans"
  }

  .header {
    background-color:#e5e5e5;
    text-align:center;
    padding:5px;
    margin-top:0px;
  }

/* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 5px
  }

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }

  .footer {
    background-color:#e5e5e5;
    text-align:center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }