body {
    text-align: center;
    background-color: rgb(213, 247, 213);
  }

h1,h2,h3,h4,h5,h6 {
    color: rgb(190, 117, 247);
    font-family: "Oswald"
  }

p {
    color: rgb(190, 117, 247);
    font-family: "Open Sans"
  }